# **Data Acquisition**

Data Acquisition can happen in variety of ways such as:

1. **Downloading Files**.
2. **Fetching API Data**.
3. **Scrapping Web Page**.
4. **Pulling Data from Database**.

The data can be gathered from one or any combination of the above sources.

## **CSV**

A CSV file is a text file, which is similar to a spreadsheet in terms of its tabular structure. But it cannot contain any if statement or function in it as it holds only the raw data unlike a spreadsheet like XLSX files, the format used by Microsoft Excel.

The first line of the file is going to be the header by default.The second line will start as the data belonging to the features of the first line. Within each row, the cells(values) are seperated by commas.

### **Reading CSV Files**
Let's read csv files with this toy dataset on student scores. `read_csv()` is used to load data from csv files into a Pandas dataframe. We just need to specify the filepath of our data. I stored `student_scores.csv` in the same directory as this Jupyter notebook, so we just need to provide the name of the file.

In [6]:
import pandas as pd

df = pd.read_csv('data/student_scores.csv')

`head()` is a useful function you can call on your dataframe to display the first few rows. Let's use it to see what this data looks like.

In [7]:
df.head()

      ID   Name  Attendance    HW  Test1  Project1  Test2  Project2  Final
0  27604    Joe        0.96  0.97   87.0      98.0   92.0      93.0   95.0
1  30572   Alex        1.00  0.84   92.0      89.0   94.0      92.0   91.0
2  39203  Avery        0.84  0.74   68.0      70.0   84.0      90.0   82.0
3  28592   Kris        0.96  1.00   82.0      94.0   90.0      81.0   84.0
4  27492   Rick        0.32  0.85   98.0     100.0   73.0      82.0   88.0

**Fun Fact:**

Remember, CSV stands for comma separated values - but they can actually be separated by different characters, tabs, white space, etc. If your file is separated by a colon, let's say, you can still use `read_csv()` with the `sep` parameter.

In [8]:
df = pd.read_csv('data/student_scores.csv', sep=':') # bad logic
df.head()

  ID,Name,Attendance,HW,Test1,Project1,Test2,Project2,Final
0       27604,Joe,0.96,0.97,87.0,98.0,92.0,93.0,95.0
1       30572,Alex,1.0,0.84,92.0,89.0,94.0,92.0,91.0
2     39203,Avery,0.84,0.74,68.0,70.0,84.0,90.0,82.0
3       28592,Kris,0.96,1.0,82.0,94.0,90.0,81.0,84.0
4     27492,Rick,0.32,0.85,98.0,100.0,73.0,82.0,88.0

This obviously didn't work because there our CSV file is separated by commas. Because there are no colons, nothing was separated and everything was read into one column!

### **Headers**
Another thing you can do with `read_csv` is specify which line of the file is the header, which specifies the column labels. It's usually the first line, but sometimes we'll want to specify a later line if there is extra meta information at the top of the file. We can do that like this.

In [9]:
df = pd.read_csv('data/student_scores.csv', header=2)
df.head()

   30572   Alex   1.0  0.84  92.0   89.0  94.0  92.0.1  91.0
0  39203  Avery  0.84  0.74  68.0   70.0  84.0    90.0  82.0
1  28592   Kris  0.96  1.00  82.0   94.0  90.0    81.0  84.0
2  27492   Rick  0.32  0.85  98.0  100.0  73.0    82.0  88.0

Here, row 2 was used as the the header and everything above that was cut off. By default, `read_csv` uses header=0, which uses the first line for column labels.

If columns labels are not included in your file, you can use `header=None` to prevent your first line of data from being misinterpreted as column labels.

In [9]:
df = pd.read_csv('data/student_scores.csv', header=None)
df.head()

       0      1           2     3      4         5      6         7      8
0     ID   Name  Attendance    HW  Test1  Project1  Test2  Project2  Final
1  27604    Joe        0.96  0.97   87.0      98.0   92.0      93.0   95.0
2  30572   Alex         1.0  0.84   92.0      89.0   94.0      92.0   91.0
3  39203  Avery        0.84  0.74   68.0      70.0   84.0      90.0   82.0
4  28592   Kris        0.96   1.0   82.0      94.0   90.0      81.0   84.0

You can also specify your own column labels like this.

In [14]:
labels = ['id', 'name', 'attendance', 'hw', 'test1', 'project1', 'test2', 'project2','final']
df = pd.read_csv('data/student_scores.csv', names=labels)
df.head()

      id   name  attendance    hw  test1  project1  test2  project2  final
0     ID   Name  Attendance    HW  Test1  Project1  Test2  Project2  Final
1  27604    Joe        0.96  0.97   87.0      98.0   92.0      93.0   95.0
2  30572   Alex         1.0  0.84   92.0      89.0   94.0      92.0   91.0
3  39203  Avery        0.84  0.74   68.0      70.0   84.0      90.0   82.0
4  28592   Kris        0.96   1.0   82.0      94.0   90.0      81.0   84.0

If you want to tell pandas that there was a header line that you are replacing, you can specify the row of that line like this.

In [16]:
labels = ['id', 'name', 'attendance', 'hw', 'test1', 'project1', 'test2', 'project2', 'final']
df = pd.read_csv('data/student_scores.csv', header=0, names=labels)
df.head()

      id   name  attendance    hw  test1  project1  test2  project2  final
0  27604    Joe        0.96  0.97   87.0      98.0   92.0      93.0   95.0
1  30572   Alex        1.00  0.84   92.0      89.0   94.0      92.0   91.0
2  39203  Avery        0.84  0.74   68.0      70.0   84.0      90.0   82.0
3  28592   Kris        0.96  1.00   82.0      94.0   90.0      81.0   84.0
4  27492   Rick        0.32  0.85   98.0     100.0   73.0      82.0   88.0

### **Index**
Instead of using the default index (integers incrementing by 1 from 0), you can specify one or more of your columns to be the index of your dataframe.

In [17]:
df.head()

      id   name  attendance    hw  test1  project1  test2  project2  final
0  27604    Joe        0.96  0.97   87.0      98.0   92.0      93.0   95.0
1  30572   Alex        1.00  0.84   92.0      89.0   94.0      92.0   91.0
2  39203  Avery        0.84  0.74   68.0      70.0   84.0      90.0   82.0
3  28592   Kris        0.96  1.00   82.0      94.0   90.0      81.0   84.0
4  27492   Rick        0.32  0.85   98.0     100.0   73.0      82.0   88.0

In [17]:
df = pd.read_csv('data/student_scores.csv', index_col='Name') # name col becomes index
df.head()

          ID  Attendance    HW  Test1  Project1  Test2  Project2  Final
Name
Joe    27604        0.96  0.97   87.0      98.0   92.0      93.0   95.0
Alex   30572        1.00  0.84   92.0      89.0   94.0      92.0   91.0
Avery  39203        0.84  0.74   68.0      70.0   84.0      90.0   82.0
Kris   28592        0.96  1.00   82.0      94.0   90.0      81.0   84.0
Rick   27492        0.32  0.85   98.0     100.0   73.0      82.0   88.0

In [20]:
df = pd.read_csv('data/student_scores.csv', index_col=['Name', 'ID']) # multiple indices
df.head()

             Attendance    HW  Test1  Project1  Test2  Project2  Final
Name  ID
Joe   27604        0.96  0.97   87.0      98.0   92.0      93.0   95.0
Alex  30572        1.00  0.84   92.0      89.0   94.0      92.0   91.0
Avery 39203        0.84  0.74   68.0      70.0   84.0      90.0   82.0
Kris  28592        0.96  1.00   82.0      94.0   90.0      81.0   84.0
Rick  27492        0.32  0.85   98.0     100.0   73.0      82.0   88.0

There are many other things you can do with this function alone, such as parsing dates, filling null values, skipping rows, etc. A lot of these can be done in different steps after `read_csv()`. We're going to modify our data in other ways, but you can always look up how to do some steps with this function [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html).

### **Challenge #1**
Use `read_csv()` to read in `cancer_data.csv` and use an appropriate column as the index. Then, use `.head()` on your dataframe to see if you've done this correctly. *Hint: First call `read_csv()` **without parameters** and then `head()` to see what the data looks like.*

In [ ]:
df_cancer=

### **Use Case:**
Use `read_csv()` to read in `powerplant_data.csv` with more descriptive column names based on the description of features on this [website](http://archive.ics.uci.edu/ml/datasets/combined+cycle+power+plant). Then, use `.head()` on your dataframe to see if you've done this correctly. *Hint: Like in the previous quiz, first call `read_csv()` without parameters and then `head()` to see what the data looks like.*

In [18]:
df_powerplant = pd.read_csv('data/powerplant_data.csv')

In [19]:
df_powerplant.head()

      AT      V       AP     RH      PE
0   8.34  40.77  1010.84  90.01  480.48
1  23.64  58.49  1011.40  74.20  445.75
2  29.74  56.90  1007.15  41.91  438.76
3  19.07  49.69  1007.22  76.79  453.09
4  11.80  40.66  1017.13  97.20  464.43

In [20]:
df_powerplant = pd.read_csv('data/powerplant_data.csv',header=0, names=['hourly average ambient variables Temperature (AT)','Exhaust Vacuum (V)', 'Ambient Pressure (AP)','Relative Humidity (RH)','net hourly electrical energy output of the plant (PE)' ])

In [21]:
df_powerplant.head()

   hourly average ambient variables Temperature (AT)  ...  net hourly electrical energy output of the plant (PE)
0                                               8.34  ...                                             480.48
1                                              23.64  ...                                             445.75
2                                              29.74  ...                                             438.76
3                                              19.07  ...                                             453.09
4                                              11.80  ...                                             464.43

[5 rows x 5 columns]

### **Writing CSV Files** 
Awesome! Now, we'll save your second dataframe with power plant data into a csv file for the next section.

In [22]:
df_powerplant.to_csv('data/powerplant_data_edited.csv')

Let's see if that worked the way we wanted.

In [23]:
df = pd.read_csv('data/powerplant_data_edited.csv')
df.head()

   Unnamed: 0  ...  net hourly electrical energy output of the plant (PE)
0           0  ...                                             480.48
1           1  ...                                             445.75
2           2  ...                                             438.76
3           3  ...                                             453.09
4           4  ...                                             464.43

[5 rows x 6 columns]

What's this `Unnamed:0`? `to_csv()` will store our index unless we tell it not to. To make it ignore the index, we have to provide the parameter `index=False`

In [24]:
df_powerplant.to_csv('data/powerplant_data_edited.csv', index=False)

In [25]:
df = pd.read_csv('data/powerplant_data_edited.csv')
df.head()

   hourly average ambient variables Temperature (AT)  ...  net hourly electrical energy output of the plant (PE)
0                                               8.34  ...                                             480.48
1                                              23.64  ...                                             445.75
2                                              29.74  ...                                             438.76
3                                              19.07  ...                                             453.09
4                                              11.80  ...                                             464.43

[5 rows x 5 columns]

# **Data Assesment**
Once you have your data loaded into dataframes, Pandas makes a quick investigation of the data really easy. Let's explore some helpful methods for assessing and understanding about a dataset. We can use the cancer data from before to help us.

### **Loading Dataset**

In [38]:
import pandas as pd

df = pd.read_csv('data/cancer_data.csv')
df.head()

         id diagnosis  ...  symmetry_max  fractal_dimension_max
0    842302         M  ...        0.4601                0.11890
1    842517         M  ...        0.2750                0.08902
2  84300903         M  ...        0.3613                0.08758
3  84348301         M  ...        0.6638                0.17300
4  84358402         M  ...        0.2364                0.07678

[5 rows x 32 columns]

### **No. of dimensions**

In [39]:
# this returns a tuple of the dimensions of the dataframe
df.shape

(569, 32)

### **Column Datatypes**

In [40]:
# this returns the datatypes of the columns
df.dtypes

id                          int64
diagnosis                  object
radius_mean               float64
texture_mean              float64
perimeter_mean            float64
area_mean                 float64
smoothness_mean           float64
compactness_mean          float64
concavity_mean            float64
concave_points_mean       float64
symmetry_mean             float64
fractal_dimension_mean    float64
radius_SE                 float64
texture_SE                float64
perimeter_SE              float64
area_SE                   float64
smoothness_SE             float64
compactness_SE            float64
concavity_SE              float64
concave_points_SE         float64
symmetry_SE               float64
fractal_dimension_SE      float64
radius_max                float64
texture_max               float64
perimeter_max             float64
area_max                  float64
smoothness_max            float64
compactness_max           float64
concavity_max             float64
concave_points_max        float64
symmetry_max              float64
fractal_dimension_max     float64
dtype: object

In [41]:
# although the datatype for diagnosis appears to be object, further
# investigation shows it's a string
type(df['diagnosis'][0])

str

Pandas actually stores [pointers](https://en.wikipedia.org/wiki/Pointer_(computer_programming)) to strings in dataframes and series, which is why `object` instead of `str` appears as the datatype. Understanding this is not essential for data analysis - just know that strings will appear as objects in Pandas.

### **Concise Summary**

In [42]:
# this displays a concise summary of the dataframe,
# including the number of non-null values in each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      569 non-null    int64
 1   diagnosis               569 non-null    object
 2   radius_mean             569 non-null    float64
 3   texture_mean            548 non-null    float64
 4   perimeter_mean          569 non-null    float64
 5   area_mean               569 non-null    float64
 6   smoothness_mean         521 non-null    float64
 7   compactness_mean        569 non-null    float64
 8   concavity_mean          569 non-null    float64
 9   concave_points_mean     569 non-null    float64
 10  symmetry_mean           504 non-null    float64
 11  fractal_dimension_mean  569 non-null    float64
 12  radius_SE               569 non-null    float64
 13  texture_SE              548 non-null    float64
 14  perimeter_SE            569 non-null    float64
 15  area_SE                 569 non-null    float64
 16  smoothness_SE           521 non-null    float64
 17  compactness_SE          569 non-null    float64
 18  concavity_SE            569 non-null    float64
 19  concave_points_SE       569 non-null    float64
 20  symmetry_SE             504 non-null    float64
 21  fractal_dimension_SE    569 non-null    float64
 22  radius_max              569 non-null    float64
 23  texture_max             548 non-null    float64
 24  perimeter_max           569 non-null    float64
 25  area_max                569 non-null    float64
 26  smoothness_max          521 non-null    float64
 27  compactness_max         569 non-null    float64
 28  concavity_max           569 non-null    float64
 29  concave_points_max      569 non-null    float64
 30  symmetry_max            504 non-null    float64
 31  fractal_dimension_max   569 non-null    float64
dtypes: float64(30), int64(1), object(1)
memory usage: 142.4+ KB

### **No. of Unique Values**

In [43]:
# this returns the number of unique values in each column
df.nunique()

id                        562
diagnosis                   2
radius_mean               451
texture_mean              459
perimeter_mean            516
area_mean                 532
smoothness_mean           434
compactness_mean          530
concavity_mean            530
concave_points_mean       536
symmetry_mean             394
fractal_dimension_mean    494
radius_SE                 535
texture_SE                499
perimeter_SE              526
area_SE                   523
smoothness_SE             495
compactness_SE            534
concavity_SE              526
concave_points_SE         500
symmetry_SE               438
fractal_dimension_SE      539
radius_max                452
texture_max               490
perimeter_max             510
area_max                  537
smoothness_max            378
compactness_max           523
concavity_max             532
concave_points_max        485
symmetry_max              449
fractal_dimension_max     530
dtype: int64

### **Data Statistics**

In [44]:
# this returns useful descriptive statistics for each column of data
df.describe()

                 id  radius_mean  ...  symmetry_max  fractal_dimension_max
count  5.690000e+02   569.000000  ...    504.000000             569.000000
mean   3.051467e+07    14.113021  ...      0.288856               0.084012
std    1.250417e+08     3.506148  ...      0.062520               0.018151
min    8.670000e+03     6.981000  ...      0.156500               0.055040
25%    8.691040e+05    11.700000  ...      0.247650               0.071270
50%    9.060240e+05    13.370000  ...      0.280650               0.080040
75%    8.910251e+06    15.780000  ...      0.317525               0.092110
max    9.113205e+08    28.110000  ...      0.663800               0.207500

[8 rows x 31 columns]

### **Fist Five Records**

In [45]:
# this returns the first few lines in our dataframe
# by default, it returns the first five
df.head()

         id diagnosis  ...  symmetry_max  fractal_dimension_max
0    842302         M  ...        0.4601                0.11890
1    842517         M  ...        0.2750                0.08902
2  84300903         M  ...        0.3613                0.08758
3  84348301         M  ...        0.6638                0.17300
4  84358402         M  ...        0.2364                0.07678

[5 rows x 32 columns]

### **First 20 Records**

In [46]:
# although, you can specify however many rows you'd like returned
df.head(20)

          id diagnosis  ...  symmetry_max  fractal_dimension_max
0     842302         M  ...        0.4601                0.11890
1     842517         M  ...        0.2750                0.08902
2   84300903         M  ...        0.3613                0.08758
3   84348301         M  ...        0.6638                0.17300
4   84358402         M  ...        0.2364                0.07678
5     843786         M  ...        0.3985                0.12440
6     844359         M  ...           NaN                0.08368
7   84458202         M  ...        0.3196                0.11510
8     844981         M  ...        0.4378                0.10720
9   84501001         M  ...        0.4366                0.20750
10    845636         M  ...        0.2948                0.08452
11  84610002         M  ...        0.3792                0.10480
12    846226         M  ...        0.3176                0.10230
13    846381         M  ...        0.2809                0.06287
14  84667401         M  ...        0.3596                0.14310
15  84799002         M  ...           NaN                0.13410
16    848406         M  ...        0.3029                0.08216
17  84862001         M  ...        0.3706                0.11420
18    849014         M  ...        0.2768                0.07615
19   8510426         B  ...        0.2977                0.07259

[20 rows x 32 columns]

### **Last 2 Lines**

In [47]:
# same thing applies to `.tail()` which returns the last few rows
df.tail(2)

         id diagnosis  ...  symmetry_max  fractal_dimension_max
567  927241         M  ...        0.4087                0.12400
568   92751         B  ...        0.2871                0.07039

[2 rows x 32 columns]

## **Indexing and Slicing Data**
Let's separate this dataframe into three new dataframes - one for each metric (mean, standard error, and maximum). To get the data for each dataframe, we need to select the `id` and `diagnosis` columns, as well as the ten columns for that metric.

In [49]:
# View the index number and label for each column
for i, v in enumerate(df.columns): # enumerate iterates like for loop however returns index and values
    print(i, v)

0 id
1 diagnosis
2 radius_mean
3 texture_mean
4 perimeter_mean
5 area_mean
6 smoothness_mean
7 compactness_mean
8 concavity_mean
9 concave_points_mean
10 symmetry_mean
11 fractal_dimension_mean
12 radius_SE
13 texture_SE
14 perimeter_SE
15 area_SE
16 smoothness_SE
17 compactness_SE
18 concavity_SE
19 concave_points_SE
20 symmetry_SE
21 fractal_dimension_SE
22 radius_max
23 texture_max
24 perimeter_max
25 area_max
26 smoothness_max
27 compactness_max
28 concavity_max
29 concave_points_max
30 symmetry_max
31 fractal_dimension_max

We can select data using `loc` and `iloc`, which you can read more about [here](https://pandas.pydata.org/pandas-docs/stable/indexing.html). `loc` uses labels of rows or columns to select data, while `iloc` uses the index numbers. We'll use these to index the dataframe below.

In [50]:
# select all the columns from 'id' to the last mean column
df_means = df.loc[:,'id':'fractal_dimension_mean']
df_means.head()

         id diagnosis  ...  symmetry_mean  fractal_dimension_mean
0    842302         M  ...         0.2419                 0.07871
1    842517         M  ...         0.1812                 0.05667
2  84300903         M  ...         0.2069                 0.05999
3  84348301         M  ...         0.2597                 0.09744
4  84358402         M  ...         0.1809                 0.05883

[5 rows x 12 columns]

In [51]:
# repeat the step above using index numbers
df_means = df.iloc[:,:12]
df_means.head()

         id diagnosis  ...  symmetry_mean  fractal_dimension_mean
0    842302         M  ...         0.2419                 0.07871
1    842517         M  ...         0.1812                 0.05667
2  84300903         M  ...         0.2069                 0.05999
3  84348301         M  ...         0.2597                 0.09744
4  84358402         M  ...         0.1809                 0.05883

[5 rows x 12 columns]

Let's save the dataframe of means for use in a future notebook.

In [54]:
df_means.to_csv('data/cancer_data_means.csv', index=False)

## **Selecting Multiple Ranges in Pandas**
Selecting the columns for the mean dataframe was pretty straightforward - the columns we needed to select were all together (`id`, `diagnosis`, and the mean columns). Now we run into a little issue when we try to do the same for the standard errors or maximum values. `id` and `diagnosis` are separated from the rest of the columns we need! We can't specify all of these in one range.

First, try creating the standard error dataframe on your own to see why doing this with just `loc` and `iloc` is an issue. Then, use this [stackoverflow link](https://stackoverflow.com/questions/41256648/select-multiple-ranges-of-columns-in-pandas-dataframe) to learn how to select multiple ranges in Pandas and try it below. By the way, to figure this out myself, I just found this link by googling "how to select multiple ranges df.iloc"

*Hint: You may have to import a new package!*

In [60]:
# import
import numpy as np

In [64]:
# create the standard errors dataframe
df_SE=df.iloc[:, np.r_[0:2, 12:22]]

In [65]:
# view the first few rows to confirm this was successful
df_SE.head()

         id diagnosis  ...  symmetry_SE  fractal_dimension_SE
0    842302         M  ...      0.03003              0.006193
1    842517         M  ...      0.01389              0.003532
2  84300903         M  ...      0.02250              0.004571
3  84348301         M  ...      0.05963              0.009208
4  84358402         M  ...      0.01756              0.005115

[5 rows x 12 columns]

In [66]:
# Let's save the dataframe of standart deviations for use in a future notebook.
df_SE.to_csv('data/cancer_data_SE.csv', index=False)

## **Homework**

Using the functions you learned so far, explore census_income_data.csv in the Jupyter notebook below to answer quiz questions below the notebook about these characteristics of the dataset:

- number of rows
- number of columns
- data types of several columns
- columns with missing values
- number of unique values of education
- mean age
- 75th percentile of hours-per-week

This data was originally taken from [here](https://archive.ics.uci.edu/ml/datasets/Census+Income).

# **Data Cleaning**